<div class="container w-25 p-5 border border-secondary rounded bg-light mt-5 text-center">
    <h1>Register</h1>
     <form [formGroup]="registerForm" action="" (ngSubmit)="onsubmit()" >
         <input formControlName="email" type="text" placeholder="Email Address" class="form-control mb-4" id="email" name="email">
         <p *ngIf="this.registerForm.get('email')?.errors && this.registerForm.get('email')?.touched" class="text-danger">invalid email</p>
 
         <input formControlName="uname"  type="text" placeholder="Username" class="form-control mb-4" id="uname" name="usern1">
         
             <p *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched" class="text-danger">invalid username</p>
         
         <input formControlName="psw" type="password" placeholder="password" class="form-control mb-4" id="psw1" name="paswrd1">
         <p *ngIf="this.registerForm.get('psw')?.errors && this.registerForm.get('psw')?.touched" class="text-danger">invalid password</p>
 
         <button class="btn btn-outline-warning text-center" type="submit"  >Register</button>
     </form>
 </div>
